* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root {
    --main: #393E41;
    --sec : #BEEF9E;
    --accent : #FF9F1C;
    --white : #F5F0F6;
    --dark : black;
}

/* helpers */

.tc_main {
    color: var(--main);
}

.tc_sec {
    color: var(--sec);
}

.tc_accent {
    color: var(--accent);
}

.tc_white {
    color: var(--white);
}

.tc_dark {
    color: var(--dark);
}

.bg_main {
    background-color: var(--main);
}

.bg_sec {
    background-color: var(--sec);
}

.bg_accent {
    background-color: var(--accent);
}

.bg_white {
    background-color: var(--white);
}

.bg_dark {
    background-color: var(--dark);
}

.px  {
    padding: 0 10px;
}

.pointer {
    cursor: pointer;
}

/* sidebars */
/* left */
.sidebar-playlist,
.search-playlist {
    height: 100vh;
    position: fixed;
    width: 300px;
    background-color: var(--main);
    transition: all .8s ease-in-out;
    top: 0;
    z-index: 999;
}

.sidebar-playlist {
    left: -1000px;
}

.search-playlist {
    right: -1000px;
}

.open-playlist {
    left: 0;
    z-index: 999;
}

.open-search {
    right: 0;
    z-index: 999;
}


/* container */
.player-container {
    width: 100vw;
    height: 100vh;
    background-color: var(--main);
}

.upper {
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logos-container {
    width: 100%;
    height: 80px;
    color: var(--sec);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(83, 79, 79);
}


.img-container {
    width: 80%;
    max-width: 300px;
    aspect-ratio: 1;
    margin: auto;
    border-radius: 6px;
    background-image: url("https://picsum.photos/400");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom {
    height: 45%;
}

.title-section {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.progress-bar-container {
    height: 30%;
    display: flex;
    align-items: center;
}

.song-length{
    background-color: var(--white);
    width: 100%;
    height: 10px;
    margin: 0 3px;
    border-radius: 4px;
    position: relative;    
}

.song-current{
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    background-color: var(--accent);
    height: 100%;
    width: 70%;
    z-index: 2;
}

.current-time {
    position: absolute;
    top: 15px;
}

.time-left {
    position: absolute;
    top: 15px;
    right: 0;
}

.command-container {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--sec);
    padding: 0 30px;
}

.command-center {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: center;
    position: relative;
}

.fa-circle-pause {
    display: none;
}

.fa-circle-play,
.fa-circle-pause {
    font-size: 60px;/* 
    margin: 0 auto 0 10px; */
}

.fa-repeat {
    /* margin: 0 20px 0 auto; */
    position: absolute;
    left: 30px;
    top: 20px;
}


.fa-chevron-left,
.fa-chevron-right {
    font-size: 35px;
}

@media screen and (min-width: 500px) {
    .img-container {
        width: 60%;
    }

    .command-center {
        width: 30%;
    }

    .command-container {
        padding: 0 100px;
    }

    .fa-circle-play,
    .fa-circle-pause {
        font-size: 60px;
        margin: 0 auto;
}
}

